@font-face {
    font-family: 'conthrax';
    src: url('../fonts/conthrax-sb.ttf');
    font-weight: normal;
    font-style: normal;
}

.section-1 {
    background-image: url("../img/fondo-01.png");
}

.inner-section {
    padding:25px;
}

body {
    color: white;
    font-family: 'conthrax';
}

.header-navbar {
    background-image: url("../img/fondo-01.png");
    text-align:right;
}