@font-face {
    font-family: 'conthrax';
    src: url('../fonts/conthrax-sb.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FreePixel';
    src: url('../fonts/FreePixel.ttf');
    font-weight: normal;
    font-style: normal;
}


.inner-section {
    padding:25px;
}

body {
    color: white;
    font-family: 'FreePixel';
    background-image: url("../img/fondo-01.png");
    font-size: 24px;
}

.header-navbar {
    background-image: url("../img/fondo-01.png");
    text-align:right;
}

.footer {
    background-image: url("../img/fondo-01.png");
}

.menu-section{
    border-width: 1px;
    border-color:aqua;
    border-style: solid;
    background-image: url("../img/fondo-menu-01.png");
    background-size: cover;
}

.bottom-section {
    padding-top:100px;
    background-image: url("../img/fondo-02.jpg");
    background-size: cover;
}

.newsletter-container {
    background-color: rgb(10, 10, 110);
    text-align: center;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    height: 0;
    margin-top:20px;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.promo-image {
    padding:20px;
}

.list-group-item {
    color:white;
    background:none;
}