@font-face {
    font-family: 'conthrax';
    src: url('../fonts/conthrax-sb.ttf');
    font-weight: normal;
    font-style: normal;
}

.section-1 {
    
}

.inner-section {
    padding:25px;
}

body {
    color: white;
    font-family: 'conthrax';
    background-image: url("../img/fondo-01.png");
}

.header-navbar {
    background-image: url("../img/fondo-01.png");
    text-align:right;
}

.menu-section{
    border-width: 1px;
    border-color:aqua;
    border-style: solid;
}